* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
html {
  background: black;
  scroll-behavior: smooth;
}

[data-scrollbar] {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.scroll-content {
  background-color: black;
}
.scrollbar-track.scrollbar-track-y {
  background: #b946ea;
}
.scrollbar-thumb-y {
  color: black;
}
